# Libraries

In [1]:
import numpy as np
import pandas as pd

# Data

We have 4 datasets:<br>
train, test, stores and environment.<br>
<br>
Train and test set have the weekly sales, divided for store and department and additionaly we have that if holiday or not.<br>
Stores have the size of the stores and the type of them.<br>
Environment have the fuel price, the CPI and the unemployment rate.<br>

In [2]:
# Load the train set.
train_set = pd.read_csv("../src/data/sales_train.csv")

# Let's see how many rows we got.
print(f"Number of rows in the dataset: {len(train_set)} \nand number of features: {len(train_set.columns)}")

# Let's print the first 5 rows of our dataframe.
train_set.head()

Number of individuals in the dataset: 421570
and number of features: 5

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False

In [4]:
# Load the test set.
test_set = pd.read_csv("../src/data/sales_test.csv")

# Let's see how many rows we got.
print(f"Number of rows in the dataset: {len(test_set)} \nand number of features: {len(test_set.columns)}")

# Let's print the first 5 rows of our dataframe.
test_set.head()

Number of rows in the dataset: 115064
and number of features: 4

   Store  Dept        Date  IsHoliday
0      1     1  2012-11-02      False
1      1     1  2012-11-09      False
2      1     1  2012-11-16      False
3      1     1  2012-11-23       True
4      1     1  2012-11-30      False

In [6]:
# Load the environment_set features set.
stores_set = pd.read_csv("../src/data/sales_stores.csv")

# Let's see how many rows we got.
print(f"Number of individuals in the dataset: {len(stores_set)} \nand number of features: {len(stores_set.columns)}")

# Let's print the first 5 rows of our dataframe.
stores_set.head()

Number of individuals in the dataset: 45
and number of features: 3

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [7]:
# Load the environment_set features set.
environment_set = pd.read_csv("../src/data/sales_features.csv")

# Let's see how many rows we got.
print(f"Number of individuals in the dataset: {len(environment_set)} \nand number of features: {len(environment_set.columns)}")

# Let's print the first 5 rows of our dataframe.
environment_set.head()

Number of individuals in the dataset: 8190
and number of features: 12

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

# Pre processing

I will not use the stores set, as all the stores have the same holidays and we want to forecast the general sales not for each store, we will not need them.<br>
For this we will aggregate the sales data per day using SUM and group by Date.<br>
I Checked that Holidays it's holidays for every store and department on the same days, that would be an issue if it were not the case. <br>
The function is a comment in the code, because it takes over 10 minutes to iterate over all the dates. <br>

In [10]:
# def check_holiday_consistency(data):
#     holiday_dates = data[data['IsHoliday'] == True]['Date'].unique()

#     for date in holiday_dates:
#         combinations = data[data['Date'] == date][['Store', 'Dept']].drop_duplicates()
#         for _, row in combinations.iterrows():
#             store_num = row['Store']
#             dept_num = row['Dept']
#             is_holiday = data[(data['Date'] == date) & (data['Store'] == store_num) & (data['Dept'] == dept_num)]['IsHoliday'].iloc[0]
            
#             if not is_holiday:
#                 return False

#     return True

In [11]:
# check_holiday_consistency(train_set)

True

In [12]:
# check_holiday_consistency(test_set)

True