# Libraries

In [2]:
from yahooquery import Ticker
import requests
import json
import yfinance as yf
import pandas as pd
import numpy as np

# Guide to do it with webscraping.
# https://www.scrapehero.com/how-to-scrape-yahoo-finance-data-using-python/
# https://towardsdatascience.com/web-scraping-yahoo-finance-477fe3daa852

# API

In [3]:
# Find ticker symbol by company name.
def ticker(company_name):
    yfinance = "https://query2.finance.yahoo.com/v1/finance/search"
    user_agent = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36'
    params = {"q": company_name, "quotes_count": 1, "country": "United States"}

    res = requests.get(url=yfinance, params=params, headers={'User-Agent': user_agent})
    data = res.json()

    company_code = data['quotes'][0]['symbol']
    return company_code

partial_name = input("Enter partial company name: ")
stock_info = ticker(partial_name)
print(stock_info)

KO

In [4]:
GetFacebookInformation = yf.Ticker("KO")

# display Company Sector
print("Company Sector : ", GetFacebookInformation.info['sector'])

# display Price Earnings Ratio
print("Price Earnings Ratio : ", GetFacebookInformation.info['trailingPE'])

# display Company Beta
print(" Company Beta : ", GetFacebookInformation.info['beta'])

Company Sector :  Consumer Defensive
Price Earnings Ratio :  27.856829
 Company Beta :  0.546798

# Get the Data

In [18]:
# Get yearly income statemente data for our ticker.
yearly_income_statement = ticker.income_statement(frequency='a')

# Get balance sheet data for our ticker.
yearly_balance_sheet = ticker.balance_sheet(frequency='a')

# Get Cash Flow data for our ticker.
yearly_cash_flow = ticker.cash_flow(frequency='a')

## Clean the dataframes and merge them

In [38]:
# Check which columns have in common income statement and balance sheet.
print(set(yearly_income_statement.columns).intersection(yearly_balance_sheet.columns))

{'periodType', 'asOfDate', 'currencyCode'}

In [39]:
# Check which columns have in common income statement and balance sheet.
print(set(yearly_income_statement.columns).intersection(yearly_cash_flow.columns))

{'periodType', 'asOfDate', 'NetIncome', 'currencyCode'}

In [40]:
# Check which columns have in common income statement and balance sheet.
print(set(yearly_balance_sheet.columns).intersection(yearly_cash_flow.columns))

{'periodType', 'asOfDate', 'currencyCode'}

In [42]:
# Drop periodType, NetIncome and currency code from cash flow.
yearly_cash_flow.drop(['periodType', 'NetIncome', 'currencyCode'], axis=1, inplace=True)

In [43]:
# Drop periodType and Currency code from balance sheet.
yearly_balance_sheet.drop(['periodType', 'currencyCode'], axis=1, inplace=True)

In [44]:
# Join the 3 dataframes into one.
# Using 'asOfDate' as key to join the dataframes.
# When you have two equals columns, use suffixes to differentiate them.
merged_dataframe = pd.merge(yearly_income_statement, yearly_balance_sheet, on='asOfDate')

# Create the dataframe that we will work on.

In [45]:
# Create a dataframe with 6 columns: TTM, 2019-12-31, 2020-12-31, 2021-12-31, 2022-12-31, 2023-12-31
# and 1 row for each column of the income statement.
df = pd.DataFrame(columns=['2019-12-31', '2020-12-31', '2021-12-31', '2022-12-31'],
                    index=merged_dataframe.columns)
df

,2019-12-31,2020-12-31,2021-12-31,2022-12-31
asOfDate,NaN,NaN,NaN,NaN
periodType,NaN,NaN,NaN,NaN
currencyCode,NaN,NaN,NaN,NaN
BasicAverageShares,NaN,NaN,NaN,NaN
BasicEPS,NaN,NaN,NaN,NaN
...,...,...,...,...
TotalNonCurrentLiabilitiesNetMinorityInterest,NaN,NaN,NaN,NaN
TotalTaxPayable,NaN,NaN,NaN,NaN
TreasurySharesNumber,NaN,NaN,NaN,NaN
TreasuryStock,NaN,NaN,NaN,NaN
WorkingCapital,NaN,NaN,NaN,NaN

In [37]:
merged_dataframe.columns

Index(['asOfDate', 'periodType_income_statement',
       'currencyCode_income_statement', 'BasicAverageShares', 'BasicEPS',
       'CostOfRevenue', 'DilutedAverageShares', 'DilutedEPS',
       'DilutedNIAvailtoComStockholders', 'EBIT',
       ...
       'TotalCapitalization', 'TotalDebt', 'TotalEquityGrossMinorityInterest',
       'TotalLiabilitiesNetMinorityInterest', 'TotalNonCurrentAssets',
       'TotalNonCurrentLiabilitiesNetMinorityInterest', 'TotalTaxPayable',
       'TreasurySharesNumber', 'TreasuryStock', 'WorkingCapital'],
      dtype='object', length=131)

In [32]:
# Get the value from merged dataframe where asOfDate is 2019-12-31 and the column is 'netIncome'.
merged_dataframe.loc[merged_dataframe['asOfDate'] == '2019-12-31', 'BasicEPS'][0]

2.09

In [ ]:
merged_dataframe.loc

In [ ]:
# Let's fill the dataframe with the data from merged_dataframe.
# We will iterate over each value using the column for df and the index, and the value will come from merged_dataframe using

In [10]:
P/E
P/B
Debt-to-equity
Free Cash Flow
Dividend Yield
PEG ration
ROE
ROA
ROI
EPS
Beta
Market Cap
Enterprise Value
EV/EBITDA
EV/EBIT
EV/FCF
EV/Sales
EBITDA
EBIT
Liquidity
Current Ratio
Quick Ratio
Interest Coverage
Debt-to-equity
Debt-to-asset
Debt-to-capital
Debt-to-EBITDA
Debt-to-EBIT
Debt-to-FCF
Debt-to-sales
Debt-to-equity
Debt-to-asset
Debt-to-capital

Current Debt
Long-term Debt
Short-term Debt
Total Debt

Equity
Total Assets
Current Assets
Cash

Y/Y % Change
5Y Avg. % Change
10Y Avg. % Change

5 Years CAGR
10 Years CAGR
Lifetime CAGR

Earnings Date

PEG Ratio (5 yr expected)

SyntaxError: invalid decimal literal (3524191168.py, line 46)